{% extends 'base.html' %}

{% block title %}Boutique | Ecommerce bootstrap template{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="card mb-4" id="forms">
          <div class="card-header">Create An Account</div>
          <div class="card-body">
            <form action="" method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              <!-- {{form.as_p}} -->
              {% for fm in form %}
              <div class="row">
                <div class="col-md-12 form-group">
                  {{fm.label_tag}} {{fm}}  <small class="text-warning">{{fm.errors|striptags}}</small>
                </div>
              </div>
              {% endfor %}
              <input type="submit" value="Sign Up" class="btn btn-primary">
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                  <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
              {% endif %}
            </form>

          </div>
        </div>
    </div>


{% endblock %}